/* ============================================= */
/* #region CONTACTO */
/* ============================================= */

#contact-info p {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

.contact-link-email {
    color: var(--color-primary-accent);
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 15px;
    display: inline-block;
}
    .contact-link-email:hover {
        text-decoration: underline;
    }

.btn-wsp {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 49%;
    min-width: 250px;
    margin: 5px auto;
    background: linear-gradient(45deg, var(--color-wsp-green), var(--color-wsp-green-dark));
    color: var(--color-text);
    padding: 0.8rem 1.5rem;
    border-radius: var(--radius-main);
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
    .btn-wsp:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

.icon-wsp {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.form-field {
    position: relative; 
    margin-bottom: 1.5rem; 
}

#contactForm input, 
#contactForm textarea {
    width: 100%;
    padding: 0.8rem;
    margin: 0; 
    border: 2px solid var(--color-bg-medium);
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    background-color: #fff; 
    color: var(--color-text-dark);
    text-align: left;
    transition: border-color 0.2s ease;
}

#contactForm label {
    position: absolute; 
    top: 50%;
    left: 0.8rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #aaa; 
    padding: 0 0.25rem;
    transition: all 0.2s ease-out;
    pointer-events: none; 
}

#contactForm input:focus, 
#contactForm textarea:focus {
    outline: none;
    border-color: var(--color-primary-accent);
}

#contactForm input:focus + label,
#contactForm textarea:focus + label,
#contactForm input:not(:placeholder-shown) + label,
#contactForm textarea:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(0.85);
    font-weight: bold;
    color: var(--color-primary-accent);
    background: var(--color-bg-light); 
}

#contactForm textarea + label {
    top: 0.8rem; 
    transform: none; 
}
#contactForm textarea:focus + label,
#contactForm textarea:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(0.85); 
}

#contactForm .btn {
    display: block;
    width: 60%;
    margin: 1rem auto;
}

.form-success-message {
    color: var(--color-primary-accent);
    font-weight: bold;
    margin-top: 15px;
}

/* #endregion */
/* ============================================= */