/* ============================================= */
/* #region DEVBLOG / NOTICIAS */
/* ============================================= */

.blog-post {
    text-align: left;
}
.blog-post h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: var(--color-primary-accent);
    margin-bottom: 5px;
}
.blog-date {
    display: block;
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 10px;
}

.blog-image {
    width: 100%;
    height: auto; 
    max-height: 500px; 
    object-fit: contain; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--radius-main);
    margin-top: 1rem; 
    margin-bottom: 1rem;
}

.blog-post figure {
    margin: 1rem 0;
}
.blog-post figcaption {
    font-size: 0.9rem;
    color: #aaa;
    text-align: center;
    margin-top: 0.5rem;
    font-style: italic;
}
/* #endregion */
/* ============================================= */