/* ============================================= */
/* #region INICIO */
/* ============================================= */
#hero-welcome {
    background: linear-gradient(180deg, rgba(26, 10, 46, 0.7) 0%, rgba(26, 10, 46, 0.9) 100%);
    width: 100%;
    max-width: 100%; 
    border-radius: 0; 
    margin-top: -2rem; 
    margin-bottom: 2rem;
    border: none; 
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    color: #fff;
    text-shadow: none; 
}

.hero-logo {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}
    .hero-logo:hover {
        transform: scale(1.3) rotate(-5deg);
    }

#hero-welcome h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    color: var(--color-primary-accent);
}

.hero-slogan {
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center !important;
    color: #fff; 
}

.hero-description {
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto 2.5rem auto;
    line-height: 1.6;
    text-align: center !important;
    color: #fff; 
}
/* #endregion */